body {
    font-family: Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-image: url(https://picsum.photos/seed/picsum/1920/1080);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
  
    background-attachment: fixed;
  
    height: 200vh;
  }
  
  header {
    text-align: center;
    background-color: #58545434;
    /*color: #fff;*/
    padding: 1rem;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 1rem;
  }
  
  nav a {
    color: #000000;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }

  #projectheader{
    padding-bottom: 10;
  }
  
  section {
    padding: 2rem;
  }

  

  
  #map-container{
    padding-bottom: 30;
  }

  textarea{
    resize: none;
  }




  .customsection {
    background-color: rgba(255, 255, 255, 0.2); /* Adjust the opacity value (0.8) to change the transparency */
  }
  
  .customsection h2 {
    border-bottom: 2px solid #000; /* Add a border to separate the section header from the content */
  }








  footer {
    text-align: center;
    padding: 1rem;
    background-color: #58545483;
    color: #fff;
  }